<mat-vertical-stepper
  class="timeline-stepper"
  [selectedIndex]="timelines.length - 1">

  <!-- DEFAULT ICON -->
  <ng-template matStepperIcon="number" let-index="index">
    <mat-icon class="timeline-step-icon">
      {{ timelines[index]?.icon || 'circle' }}
    </mat-icon>
  </ng-template>

  <!-- DONE ICON -->
  <ng-template matStepperIcon="done" let-index="index">
    <mat-icon class="timeline-step-icon done">
      {{ timelines[index]?.icon || 'check_circle' }}
    </mat-icon>
  </ng-template>

  <!-- ERROR ICON -->
  <ng-template matStepperIcon="error">
    <mat-icon class="timeline-step-icon error">
      error
    </mat-icon>
  </ng-template>

  @for (item of timelines; track item.id){
    <mat-step
      [completed]="true"
    >

      <ng-template matStepLabel>
        <div class="timeline-label">

          <div class="timeline-header">
            @if (!item.isGroupChild){
              <div class="title">{{ item.title }}</div>
            }

            @if (item.date){
              <div class="date">{{ item.date }}</div>
            }
          </div>
        </div>
      </ng-template>

      <div class="timeline-content" [ngClass]="item.status">
        {{ item.description }}
      </div>

    </mat-step>
  }

</mat-vertical-stepper>
