<mat-vertical-stepper
  class="timeline-stepper"
  [linear]="false"
  [selectedIndex]="timelines.length - 1">

  @for (item of timelines; track item.title){
    <mat-step
      [completed]="item.completed">

      <ng-template matStepLabel>
        <div class="timeline-label">
          <mat-icon class="timeline-icon" [ngClass]="item.status">
            {{ item.icon || 'circle' }}
          </mat-icon>

          <div class="timeline-header">
            <div class="title">{{ item.title }}</div>
            @if (item.date){
              <div class="date">{{ item.date }}</div>
            }
          </div>
        </div>
      </ng-template>

      <div class="timeline-content" [ngClass]="item.status">
        {{ item.description }}
      </div>

    </mat-step>
  }

</mat-vertical-stepper>
