<div class="timeline timeline--narrow">

  <div class="timeline-events">
    <!-- CENTER LINE -->
    <div class="timeline-line"></div>
    @for (group of groupedEvents; track group.date.getTime(); let gi = $index) {
      <!-- DATE MARKER -->
      <div
        class="timeline-date"
        [attr.data-status]="group.status"
      >
        <span class="line"></span>

        <span class="label">
          {{ group.date | date:'dd MMMM yyyy' }}
        </span>

        <span class="line"></span>
      </div>

      @for (event of group.events; track event.id; let i = $index) {
        @let flatIndex = getFlatIndex(gi, i);
        <div
          class="timeline-event"
          [class.left]="isLeft(flatIndex)"
          [class.right]="!isLeft(flatIndex)"
          [attr.data-status]="event.status">

          <!-- LEFT SLOT -->
          <div class="slot left">
            @if (isLeft(flatIndex)) {
              <!-- CARD CONTENT -->
              <ng-container *ngTemplateOutlet="card; context:{ $implicit: event }"></ng-container>
            }

            @if (!isLeft(flatIndex) && !isRepeatedStatusGlobal(gi, i)) {
              <div class="timeline-status">
                {{ statusLabel(event.status) }}
              </div>
            }
          </div>

          <!-- CENTER -->
          <div class="center">
            <div
              class="timeline-dot"
              [class.repeated]="isRepeatedStatusGlobal(gi, i)"
            >
              @if (!isRepeatedStatusGlobal(gi, i)) {
                <mat-icon>
                  {{
                    event.status === 'arrival' ? 'directions_boat' :
                      event.status === 'handling' ? 'build' :
                        'exit_to_app'
                  }}
                </mat-icon>
              }
            </div>
          </div>

          <!-- RIGHT SLOT -->
          <div class="slot right">
            @if (!isLeft(flatIndex)) {
              <ng-container *ngTemplateOutlet="card; context:{ $implicit: event }"></ng-container>
            }

            @if (isLeft(flatIndex) && !isRepeatedStatusGlobal(gi, i)) {
              <div class="timeline-status">
                {{ statusLabel(event.status) }}
              </div>
            }
          </div>

        </div>
      }
    }

  </div>

  <!-- ADD BUTTON BOTTOM -->
  <div class="timeline-add top">
    <button mat-fab color="primary" (click)="add.emit()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<!-- CARD TEMPLATE -->
<ng-template #card let-event>
  <mat-card class="timeline-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          {{ event.actualDateTime | date:'HH:mm' }}
        </mat-card-title>
        <button mat-icon-button color="warn" (click)="remove.emit(event)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      <!-- DESCRIPTION -->
      <div class="description">
        {{ event.description }}
      </div>

      <!-- META INFO -->
      <div class="meta">

        @if (event.terminal) {
          <div class="meta-row">
            <mat-icon>domain</mat-icon>
            <span>{{ event.terminal }}</span>
          </div>
        }

        @if (event.berth) {
          <div class="meta-row">
            <mat-icon>place</mat-icon>
            <span>{{ event.berth }}</span>
          </div>
        }

        @if (event.bollard) {
          <div class="meta-row">
            <mat-icon>anchor</mat-icon>
            <span>{{ event.bollard }}</span>
          </div>
        }

      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
